DATABASE_URL="postgresql://postgres:postgres@localhost:5432/calfie_express"
NEXT_PUBLIC_APP_NAME="CALFIE EXPRESS"
NEXT_PUBLIC_APP_URL="http://localhost:3010"
UPS_CLIENT_ID=""
UPS_CLIENT_SECRET=""
UPS_ACCOUNT_NUMBER=""
FEDEX_API_KEY=""
FEDEX_SECRET_KEY=""
FEDEX_ACCOUNT_NUMBER=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_PUBLISHABLE_KEY=""
POSTMARK_SERVER_TOKEN=""
POSTMARK_FROM_EMAIL=""